/* Common nav styles */

body {
    margin: 0px; 
    font-family: 'Roboto' , sans-serif;
}

.navigation-wrapper {
    display: grid;
    grid-template-columns: 1fr 9fr 1fr;
    height: 60px;
    background-color: black;
    color: #cbcbcb;
    margin: 0px;
   
}

.left-column {
    display: flex;
    justify-content: space-between;
    height: 90px;
    width: 130px
}
/* logo */

.Logo {
    padding-bottom: 35px;
}

.Logo img {
    width: 84px;
    height: 100%;
    padding-left: 15px;
}

/* Links */
.links-wrapper {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 400px;
}

.center-column {
    margin: 20;
}


.explore {
    padding-top: 15px;
    padding-bottom: 2px;
    color: yellow;
}

.drop-down-menu {
    font-size: smaller;
    color: lightslategray;
    display: flex;
    flex-direction: row;
    padding-left: 20px
}


a:-webkit-any-link {
    text-decoration: none;
    color: white;
}

.spacer20 {
    width: 34px;
}

.create-column {
  border-color: darkslategrey;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 12px;
  padding-bottom: 90px;
  color: white;
  display: flex;
  justify-content: center;
  
}

.chevron-again {
    padding-left: 13px;
    padding-top: 7px;
    color: white;
    display: flex;
    justify-content: space-between;
    background-color: rgba(169, 169, 169, 0.438);
    border-radius: 6px;
    border: 3px solid black;
    text-align: center;
    
}

.chevron-again-again {
    padding-left: 13px;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-bottom: 10px;
    color: lightgreen;
}


.chevron {
    padding-left: 13px;
}


.Nav {
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    background-color: rgba(169, 169, 169, 0.438);
    border-radius: 6px;
    border: 3px solid black;
}

.search i {
    color: rgba(169, 169, 169, 0.733);
    font-size: 30px;
    padding-left: 13px;
    padding-right: 10px;
}
    



